name: Node.js CI with Docker


on:

  push:

    branches: [ "main" ]


jobs:

  build_and_test:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout code

        uses: actions/checkout@v3


      - name: Setup Node.js

        uses: actions/setup-node@v3

        with:

          node-version: 18


      - name: Install dependencies

        run: npm install


      - name: Run tests

        run: npm test


  build_and_push:

    runs-on: ubuntu-latest

    needs: build_and_test

    steps:

      - name: Checkout code

        uses: actions/checkout@v3


      - name: Log in to Docker Hub

        uses: docker/login-action@v3

        with:

          username: ${{ secrets.DOCKER_USERNAME }}

          password: ${{ secrets.DOCKER_PASSWORD }}


      - name: Build Docker image

        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/ci-node-app:latest .


      - name: Push Docker image

        run: docker push ${{ secrets.DOCKER_USERNAME }}/ci-node-app:latest

